@page "/"
@layout LoginLayout

<div class="container">
    <div class="row">
        <h2 class="text-center">Login page</h2>
    </div>
    <EditForm Model="@_loginInfo" OnValidSubmit="@LoginRequest" OnInvalidSubmit="@ShowAlert">
        <div class="row">
            <label>Username:</label>
            <input @bind="@_loginInfo.UserName" />
        </div>
        <div class="row">
            <label>Password:</label>
            <input @bind="@_loginInfo.Password" type="password" />
        </div>
        <div class="row">
            <button type="submit">Login</button>
        </div>
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@
    </EditForm>
    <button @onclick="@TestAlert1">Test #1</button>
    <button @onclick="@TestAlert2">Test #2</button>
    <button @onclick="@TestAlert3">Test #3</button>
    <button @onclick="@TestAlert4">Test #4</button>

    <button @onclick="@DeleteFromLista">Törlés</button>

    @foreach (var item in lista)
    {
        <div>@item</div>
    }
</div>

<AlertBox @ref="@box" />