<!------------------------------------------------------------------------------------------------>
<!-- OpenTicket.razor                                                                           -->
<!--                                                                                            -->
<!-- This page is good to generate work the somebody. On this page ticket can be opened.        -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------>
<!-- Page definitions                                                                           -->
<!------------------------------------------------------------------------------------------------>
@page "/open"

<!------------------------------------------------------------------------------------------------>
<!-- Content                                                                                    -->
<!------------------------------------------------------------------------------------------------>
<Popup>
    @if(OpenPageState != null)
    {
        <!-- Whole content is a form -->
        <EditForm Model="@OpenPageState" OnValidSubmit="SendRequest" OnInvalidSubmit="MissingInput">
            <DataAnnotationsValidator />
            <div style="width: 550px">
                <WindowTitle Title="Make work for somebody!" CloseAction="@CloseWindow" />
                <!-- Ask title -->
                <div class="ati-login-element">
                    <input type="text" class="ati-login-input" placeholder="Title - What is the topic of ticket?" @bind="@OpenPageState.Title" />
                </div>
                <!-- Ask summary -->
                <div class="ati-login-element">
                    <input type="text" class="ati-login-input" placeholder="Summary - Short description" @bind="@OpenPageState.Summary" />
                </div>
                <!-- Ask system name -->
                <div class="ati-login-element">
                    <select class="ati-select" value="@OpenPageState.SystemName" @onchange="LoadCategories">
                        <option value="" selected></option>
                        @foreach (var item in Systems)
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </div>
                <!-- Ask category name -->
                @if (OpenPageState.SystemName != null)
                {
                    <div class="ati-login-element">
                        <select class="ati-select" @bind="@OpenPageState.CategoryName">
                            <option value="" selected></option>
                            @foreach (var item in Categories)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                    </div>
                }
                <!-- Ask details-->
                <div class="ati-login-element">
                    <textarea class="ati-login-textarea" placeholder="If you want say more, write there" @bind="@OpenPageState.Details" />
                </div>
                <!-- Try to open ticket -->
                <div class="ati-login-element">
                    <button type="submit" class="btn ati-btn-primary">Submit</button>
                </div>
            </div>

        </EditForm>
    }
</Popup>

