<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <Popup>
                <div class="ati-login-element">
                    <h5>These aren't the droids you're looking for...</h5>
                    <p>It seems the page does not exist :-(</p>
                </div>
            </Popup>
        </LayoutView>
    </NotFound>
</Router>
