<!------------------------------------------------------------------------------------------------>
<!-- AdminPage.razor                                                                            -->
<!--                                                                                            -->
<!-- This page is for executing some adminstrating actions like:                                -->
<!-- - Add/Rename/Remove category                                                               -->
<!-- - Add/Rename/Remove system                                                                 -->
<!-- - Add//Change/Delete user                                                                  -->
<!-- - Execute assignments                                                                      -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------>
<!-- Page definitions                                                                           -->
<!------------------------------------------------------------------------------------------------>
@page "/admin"

<!------------------------------------------------------------------------------------------------>
<!-- Content                                                                                    -->
<!------------------------------------------------------------------------------------------------>
<div class="ati-full-window">
    <!-- Show title of the page -->
    <WindowTitle Title="Play a God, you are and admin now!" CloseAction="@CloseWindow" />
    <!-- Here is the content -->
    <div class="ati-full-window-content container">
        <!-- Put a tree menu to the left side of page              -->
        <!-- Right side of the page is the actual sub-page content -->
        <div class="row">
            <div class="col-auto">
                <CascadingValue Value="AdminPageState.ActMenu">
                    <TreeMenu MenuTree="UserMenu" @ref="TMenu" AfterClick="UpdateState" />
                </CascadingValue>
            </div>
            <div class="col">
                <TreeMenuContent ID="1" TreeMenuRef="TMenu">
                    <h1 class="ati-h-blurpl">Add new user</h1>
                    <hr class="ati-hr-normal" />
                    <EditForm Model="@AddUser" OnValidSubmit="AddUserSubmit" OnInvalidSubmit="AddUserSubmitMissing">
                        <DataAnnotationsValidator />
                        <table>
                            <tbody>
                                <tr class="ati-login-element text-left">
                                    <td class="pr-3"><b>Username:</b></td>
                                    <td style="min-width: 300px;">
                                        <input type="text" class="ati-login-input" placeholder="ABC123" @bind="@AddUser.UserName" />
                                    </td>
                                </tr>
                                <tr class="ati-login-element text-left">
                                    <td class="pr-3"><b>Email:</b></td>
                                    <td>
                                        <input type="text" class="ati-login-input" placeholder="something@anything.com" @bind="@AddUser.Email" />
                                    </td>
                                </tr>
                                <tr class="ati-login-element text-left">
                                    <td class="pr-3"><b>Password:</b></td>
                                    <td>
                                        <input type="password" class="ati-login-input" @bind="@AddUser.Password" />
                                    </td>
                                </tr>
                                <tr class="ati-login-element text-left">
                                    <td class="pr-3"><b>Role:</b></td>
                                    <td>
                                        <select class="ati-select" @bind="@AddUser.Role">
                                            <option selected></option>
                                            <option>User</option>
                                            <option>Admin</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="ati-login-element">
                                    <td colspan="2">
                                        <button type="submit" class="btn ati-btn-primary mt-3">Add new user</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </EditForm>
                    <h1 class="ati-h-blurpl">Modify users</h1>
                    <hr class="ati-hr-normal" />
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <td><b>Username</b></td>
                                <td><b>Password</b></td>
                                <td><b>Email address</b></td>
                                <td><b>Role</b></td>
                                <td colspan="2"><b>Action</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Users != null)
                            {
                                @foreach (var item in Users)
                                {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td><input type="password" placeholder="New password" @bind="item.Password" /></td>
                                    <td><input type="text" @bind="item.Email" /></td>
                                    <td>
                                        <select class="ati-select" @bind="@item.Role">
                                            <option>Admin</option>
                                            <option>User</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="ati-change-btn-table">
                                            <a data-tooltip="Change user" @onclick="() => ChangeUserVerify(item.UserName, item.Password, item.Email, item.Role)">
                                                <img class="ati-change-img-table" src="img/change-icon.png">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ati-change-btn-table">
                                            <a data-tooltip="Remove user" @onclick="() => DeleteUserVerify(item.UserName, item.Password, item.Email, item.Role)">
                                                <img class="ati-change-img-table" src="img/remove-icon.png">
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </TreeMenuContent>
                <TreeMenuContent ID="2" TreeMenuRef="TMenu">
                    <h1 class="ati-h-blurpl">Assign user connections</h1>
                    <hr class="ati-hr-normal" />
                    <div class="row">
                        <div class="col">
                            <select class="ati-select" value="@AdminPageState.AdminUsrCat.SelectedSystem" @onchange="AssignSystemChanged">
                                @if (systemList != null)
                                {
                                    @foreach (var item in systemList)
                                    {
                                        <option>@item.Name</option>
                                    }
                                }
                            </select>
                            <div>
                                @if (categoryList != null)
                                {
                                    @foreach (var item in categoryList)
                                    {
                                        <div draggable="true" @ondragstart="(e) => AssignCategoryDrag(e, item)" class="ati-drag-item" style="cursor: move;">
                                            <div class="ati-drag-item-title">@item</div>
                                            <div class="ati-drag-item-subtext">@AdminPageState.AdminUsrCat.SelectedSystem</div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col">
                            <select class="ati-select" value="@AdminPageState.AdminUsrCat.SelectedUser" @onchange="AssignUserChanged">
                                @if(userList != null)
                                {
                                    @foreach (var item in userList)
	                                {
		                                 <option>@item.UserName</option>
	                                }
                                }
                            </select>
                            <div class="ati-drag-item-add" @ondrop="AssignCategoryDropped" ondragover="event.preventDefault();">
                                Drag here to assign new category
                            </div>
                            <div>
                                @if(userCategoryList != null)
                                {
                                    @foreach (var item in userCategoryList)
                                    {
                                        <div class="ati-drag-item">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="ati-drag-item-title">@item.CategoryName</div>
                                                </div>
                                                <div class="ati-change-btn-table mr-3">
                                                    <a data-tooltip="Unassign category" @onclick="() => UnassignCategory(item.CategoryName, item.SystemName)">
                                                        <img class="ati-change-img-table" src="img/remove-icon.png">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="ati-drag-item-subtext float-none">@item.SystemName</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </TreeMenuContent>
                <TreeMenuContent ID="3" TreeMenuRef="TMenu">
                    <h1 class="ati-h-blurpl">Add new system</h1>
                    <hr class="ati-hr-normal" />
                    <EditForm Model="AddSystem" OnValidSubmit="AddSystemSubmit" OnInvalidSubmit="AddSystemSubmitMissing">
                        <DataAnnotationsValidator />
                        <table>
                            <tbody>
                                <tr class="ati-login-element text-left">
                                    <td class="pr-3"><b>Username:</b></td>
                                    <td style="min-width: 300px;">
                                        <input type="text" class="ati-login-input" placeholder="Random-System" @bind="@AddSystem.SystemName" />
                                    </td>
                                </tr>
                                <tr class="ati-login-element">
                                    <td colspan="2">
                                        <button type="submit" class="btn ati-btn-primary mt-3">Add new system</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </EditForm>
                    <h1 class="ati-h-blurpl">Modify systems</h1>
                    <hr class="ati-hr-normal" />
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <td><b>System name</b></td>
                                <td><b>New system name</b></td>
                                <td colspan="2"><b>Action</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (allSystem != null)
                            {
                                @foreach (var item in allSystem)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td><input type="text" placeholder="Changed system name" /></td>
                                        <td>
                                            <div class="ati-change-btn-table">
                                                <a data-tooltip="Change user" @onclick="() => ChangeSystemVerify()">
                                                    <img class="ati-change-img-table" src="img/change-icon.png">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="ati-change-btn-table">
                                                <a data-tooltip="Remove user" @onclick="DeleteSystemVerify">
                                                    <img class="ati-change-img-table" src="img/remove-icon.png">
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </TreeMenuContent>
                <TreeMenuContent ID="4" TreeMenuRef="TMenu">
                    <h1 class="ati-h-blurpl">Add new category</h1>
                    <hr class="ati-hr-normal" />
                    <EditForm Model="AddCategory" OnValidSubmit="AddCategorySubmit" OnInvalidSubmit="AddCategorySubmitMissing">
                        <DataAnnotationsValidator />
                        <table>
                            <tbody>
                                <tr class="ati-login-element text-left">
                                    <td class="pr-3"><b>Username:</b></td>
                                    <td style="min-width: 300px;">
                                        <input type="text" class="ati-login-input" placeholder="ABC123" @bind="@AddCategory.SystemName" />
                                    </td>
                                </tr>
                                <tr class="ati-login-element text-left">
                                    <td class="pr-3"><b>System:</b></td>
                                    <td style="min-width: 300px;">
                                        <select @bind="@AddCategory.CategoryName">
                                            <option></option>
                                            <option>atihome</option>
                                            <option>test-system-1</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="ati-login-element">
                                    <td colspan="2">
                                        <button type="submit" class="btn ati-btn-primary mt-3">Add new category</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </EditForm>
                    <h1 class="ati-h-blurpl">Adjust categories</h1>
                    <hr class="ati-hr-normal" />
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <td><b>System name</b></td>
                                <td><b>Category name</b></td>
                                <td><b>New category name</b></td>
                                <td><b>New system name</b></td>
                                <td><b>Action</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>atihome</td>
                                <td>System</td>
                                <td><input type="text" placeholder="Changed category name" /></td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>atihome</option>
                                        <option>test-system-1</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="ati-change-btn-table">
                                        <a data-tooltip="Change user" @onclick="ChangeCategoryVerify">
                                            <img class="ati-change-img-table" src="img/change-icon.png">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="ati-change-btn-table">
                                        <a data-tooltip="Remove user" @onclick="DeleteCategoryVerify">
                                            <img class="ati-change-img-table" src="img/remove-icon.png">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>atihome</td>
                                <td>Network</td>
                                <td><input type="text" placeholder="Changed category name" /></td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>atihome</option>
                                        <option>test-system-1</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="ati-change-btn-table">
                                        <a data-tooltip="Change user" @onclick="ChangeCategoryVerify">
                                            <img class="ati-change-img-table" src="img/change-icon.png">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="ati-change-btn-table">
                                        <a data-tooltip="Remove user" @onclick="DeleteCategoryVerify">
                                            <img class="ati-change-img-table" src="img/remove-icon.png">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>test-system-1</td>
                                <td>System</td>
                                <td><input type="text" placeholder="Changed category name" /></td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>atihome</option>
                                        <option>test-system-1</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="ati-change-btn-table">
                                        <a data-tooltip="Change user" @onclick="ChangeCategoryVerify">
                                            <img class="ati-change-img-table" src="img/change-icon.png">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="ati-change-btn-table">
                                        <a data-tooltip="Remove user" @onclick="DeleteCategoryVerify">
                                            <img class="ati-change-img-table" src="img/remove-icon.png">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </TreeMenuContent>
            </div>
        </div>
    </div>
</div>

<AlertBox @ref="QuestionBox" />

