<!------------------------------------------------------------------------------------------------>
<!-- TaskBar.razor                                                                              -->
<!--                                                                                            -->
<!-- This component is the main navigation component. It provides a taskbar at the bottom of the-->
<!-- page, opened application handler and taskbar box (start menu) features. Applications are   -->
<!-- tracked on the taskbar, that it is easy to swithc among them.                              -->
<!--                                                                                            -->
<!-- Parameters:                                                                                -->
<!-- - AppList: list about applications, they will be showed in the taskbar box                 -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

@if (IsVisible)
{
    <div class="ati-taskbar-applications">
        @if (AppList == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <div class="row" style="height: 100%">
                <div class="col">
                    <CascadingValue Value="this">
                        @foreach (var item in AppList)
                        {
                            <ApplicationItem Icon="@item.Image" Title="@item.Title" Route="@item.Route" Text="@item.Text" />
                        }
                    </CascadingValue>
                </div>
                <div class="col ati-taskbar-description">
                    <div class="row justify-content-center mb-3 mt-3">
                        <img src="@DescIcon" width="144" height="144" />
                    </div>
                    <div class="row justify-content-center mb-8">
                        <h5>@DescTitle</h5>
                    </div>
                    <div class="row mr-3 ml-3">
                        @DescText
                    </div>
                </div>
            </div>
        }
    </div>
}
<div class="ati-taskbar">
    <div class="row m-0">
        <div class="float-left">
            <button class="ati-btn-application" @onclick="@Usage">Applications</button>
        </div>
        @foreach (var item in OpenedApps)
        {
            @if (item != null)
            {
                <div class="float-right" oncontextmenu="return false;">
                    <button class="ati-btn-appitem" id="@(item.DivId)" @onclick="() => NavManager.NavigateTo(item.Route)" @onmouseup="(e) => ContextMenu(e, item)">
                        <img src="@item.Image" width="21" height="21" />
                        @item.Title
                    </button>
                </div>
            }
        }
        <ContextMenu @ref="@CMenu" Title="Quick actions" PosXFromLeft="@DistanceFromLeft">
            <div class="ati-contextmenu-item" @onclick="ConextMenuOpen">
                Open @SelectedItem.Title
            </div>
            <div class="ati-contextmenu-item" @onclick="ConextMenuClose">
                Close @SelectedItem.Title
            </div>
        </ContextMenu>
    </div>
</div>

@code {
    
}
