@page "/dashboard"

<div class="ati-full-window">
    <!-- Show title of the page -->
    <WindowTitle Title="What is broken today?" CloseAction="@CloseWindow" />
    <!-- Here is the content -->
    <div class="ati-full-window-content container">
        <h1 class="ati-h-blurpl">Open or unassigned tickets</h1>
        <hr class="ati-hr-normal" />
        <div class="ati-dashboard-container">
            @foreach (var item in tickets)
            {
            <div class="ati-dashboard-section">
                <div class="row m-1">
                    <h4 class="ati-dashboard-property text-wrap">@(item.Title)</h4>
                </div>
                <div class="row m-1">
                    <p class="ati-dashboard-property">Category: </p>
                    <p>@item.Category.Name</p>
                </div>
                <div class="row m-1">
                    <p class="ati-dashboard-property">Status: </p>
                    <p>@item.Status</p>
                </div>
                <div class="row m-1">
                    <p class="ati-dashboard-property">System: </p>
                    <p>@item.System.Name</p>
                </div>
                <div class="row m-1">
                    <p class="ati-dashboard-property">Opened at: </p>
                    <p>@item.Time.ToString()</p>
                </div>
                <div class="ati-login-element">
                    <button class="btn ati-btn-primary" @onclick="() => GetDetails(item.Id)">Edit ticket</button>
                    <button class="btn ati-btn-secondary">Close ticket</button>
                </div>
            </div>
            }
        </div>
        <div class="row">
            <div class="col-auto">
                <h1 class="ati-h-blurpl">Filter tickets</h1>
            </div>
            <div class="col-auto mt-3">
                <button class="btn ati-btn-primary" @onclick="() => DashboardPageState.IsPopUpShowed = true">Set filter</button>
            </div>
        </div>
        <hr class="ati-hr-normal" />
        @if (DashboardPageState.IsPopUpShowed)
        {
            <Popup>
                <WindowTitle Title="Set filter" CloseAction="CloseFilterPopup" />
                <EditForm Model="@filter" OnValidSubmit="FilterTicketSubmit">
                    <DataAnnotationsValidator />
                    <table class="m-3">
                        <tbody>
                            <tr class="ati-login-element text-left">
                                <td class="pr-3"><b>Title:</b></td>
                                <td style="min-width: 300px;">
                                    <input type="text" class="ati-login-input" placeholder="" @bind="@DashboardPageState.filter.Title" />
                                </td>
                            </tr>
                            <tr class="ati-login-element text-left">
                                <td class="pr-3"><b>Role:</b></td>
                                <td>
                                    <select class="ati-select" @bind="@DashboardPageState.filter.Status">
                                        <option selected></option>
                                        <option>Open</option>
                                        <option>Closed</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="ati-login-element text-left">
                                <td class="pr-3"><b>System name:</b></td>
                                <td style="min-width: 300px;">
                                    <input type="text" class="ati-login-input" placeholder="" @bind="@DashboardPageState.filter.SystemName" />
                                </td>
                            </tr>
                            <tr class="ati-login-element text-left">
                                <td class="pr-3"><b>Category:</b></td>
                                <td style="min-width: 300px;">
                                    <input type="text" class="ati-login-input" placeholder="" @bind="@DashboardPageState.filter.CategoryName" />
                                </td>
                            </tr>
                            <tr class="ati-login-element text-left">
                                <td class="pr-3"><b>Owner:</b></td>
                                <td style="min-width: 300px;">
                                    <input type="text" class="ati-login-input" placeholder="" @bind="@DashboardPageState.filter.Owner" />
                                </td>
                            </tr>
                            <tr class="ati-login-element">
                                <td colspan="2">
                                    <button type="submit" class="btn ati-btn-primary mt-3">Find tickets</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </EditForm>
            </Popup>
        }
        <table style="width: 100%;">
            <thead>
                <tr>
                    <td><b>Title</b></td>
                    <td><b>Status</b></td>
                    <td><b>System</b></td>
                    <td><b>Category</b></td>
                    <td><b>Owner</b></td>
                    <td colspan="2"><b>Action</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tickets)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Status</td>
                        <td>@item.System.Name</td>
                        <td>@item.Category.Name</td>
                        @if (item.User != null)
                        {
                            <td>@item.User.UserName</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            <div class="ati-change-btn-table">
                                <a data-tooltip="Edit ticket">
                                    <img class="ati-change-img-table" src="img/change-icon.png">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="ati-change-btn-table">
                                <a data-tooltip="Close ticket">
                                    <img class="ati-change-img-table" src="img/remove-icon.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
