@page "/dashboard"

<div class="ati-full-window">
    <!-- Show title of the page -->
    <WindowTitle Title="What is broken today?" CloseAction="@CloseWindow" />
    <!-- Here is the content -->
    <div class="ati-full-window-content container">
        <h1 class="ati-h-blurpl">Open or unassigned tickets</h1>
        <hr class="ati-hr-normal" />
        <table style="width: 100%;">
            <thead>
                <tr>
                    <td><b>Title</b></td>
                    <td><b>Status</b></td>
                    <td><b>System</b></td>
                    <td><b>Category</b></td>
                    <td><b>Owner</b></td>
                    <td colspan="2"><b>Action</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tickets)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Status</td>
                        <td>@item.System.Name</td>
                        <td>@item.Category.Name</td>
                        @if (item.User != null)
                        {
                            <td>@item.User.UserName</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            <div class="ati-change-btn-table">
                                <a data-tooltip="Edit ticket" @onclick="() => GetDetails(item.Id)">
                                    <img class="ati-change-img-table" src="img/change-icon.png">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="ati-change-btn-table">
                                <a data-tooltip="Close ticket">
                                    <img class="ati-change-img-table" src="img/remove-icon.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h1 class="ati-h-blurpl">Filter tickets</h1>
        <hr class="ati-hr-normal" />
        <EditForm Model="@filter">
            <DataAnnotationsValidator />
            <table style="margin-left: auto; margin-right: auto;" class="mb-3">
                <tbody>
                    <tr class="ati-login-element text-left">
                        <td class="pr-3"><b>Title:</b></td>
                        <td style="min-width: 300px;">
                            <input type="text" class="ati-login-input" placeholder="" @bind="@filter.Title" />
                        </td>
                    </tr>
                    <tr class="ati-login-element text-left">
                        <td class="pr-3"><b>Role:</b></td>
                        <td>
                            <select class="ati-select" @bind="@filter.Status">
                                <option selected></option>
                                <option>Open</option>
                                <option>Closed</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="ati-login-element text-left">
                        <td class="pr-3"><b>System name:</b></td>
                        <td style="min-width: 300px;">
                            <input type="text" class="ati-login-input" placeholder="" @bind="@filter.SystemName" />
                        </td>
                    </tr>
                    <tr class="ati-login-element text-left">
                        <td class="pr-3"><b>Category:</b></td>
                        <td style="min-width: 300px;">
                            <input type="text" class="ati-login-input" placeholder="" @bind="@filter.CategoryName" />
                        </td>
                    </tr>
                    <tr class="ati-login-element text-left">
                        <td class="pr-3"><b>Owner:</b></td>
                        <td style="min-width: 300px;">
                            <input type="text" class="ati-login-input" placeholder="" @bind="@filter.Owner" />
                        </td>
                    </tr>
                    <tr class="ati-login-element">
                        <td colspan="2">
                            <button type="submit" class="btn ati-btn-primary mt-3">Find tickets</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </EditForm>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <td><b>Title</b></td>
                    <td><b>Status</b></td>
                    <td><b>System</b></td>
                    <td><b>Category</b></td>
                    <td><b>Owner</b></td>
                    <td colspan="2"><b>Action</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tickets)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Status</td>
                        <td>@item.System.Name</td>
                        <td>@item.Category.Name</td>
                        @if (item.User != null)
                        {
                            <td>@item.User.UserName</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            <div class="ati-change-btn-table">
                                <a data-tooltip="Edit ticket">
                                    <img class="ati-change-img-table" src="img/change-icon.png">
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="ati-change-btn-table">
                                <a data-tooltip="Close ticket">
                                    <img class="ati-change-img-table" src="img/remove-icon.png">
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
