<!------------------------------------------------------------------------------------------------>
<!-- Details.razor                                                                              -->
<!--                                                                                            -->
<!-- This page shows a detail about a selected ticket. Ticket number must be passed via URL. It -->
<!-- has two parts: firs one is the ticket header and second one are the logs entries. On this  -->
<!-- it is possible to take a ticket to the user or close it.                                   -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------>
<!-- Page defitions                                                                             -->
<!------------------------------------------------------------------------------------------------>
@page "/dashboard/details/{id:int}"

<!------------------------------------------------------------------------------------------------>
<!-- Content                                                                                    -->
<!------------------------------------------------------------------------------------------------>
<div class="ati-full-window">
    <WindowTitle Title="@PageTitle" CloseAction="CloseWindow" />
    <div class="ati-full-window-content container">
        @if (Loading)
        {
            <div id="app"><img src="img/loading.gif" class="ati-center-loading" /></div>
        }
        @if (details != null)
        {
            <div class="row">
                <div class="col">
                    <h1 class="ati-h-blurpl">Ticket header</h1>
                </div>
                @if (details.Header != null)
                {
                    @if (details.Header.User != null && details.Header.Status == "Open")
                    {
                        @if (details.Header.User.UserName != User.UserName)
                        {
                            <div class="col-auto p-0 mr-3">
                                <button class="btn ati-btn-primary mt-3" @onclick="() => AssignTicket(id)">Assign to me</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-auto p-0">
                                <button class="btn ati-btn-primary mt-3" @onclick="() => CloseTicket(id)">Close</button>
                            </div>
                            <div class="col-auto p-0 mr-3 ml-1">
                                <button class="btn ati-btn-secondary mt-3" @onclick="() => UnassignTicket(id)">Unassign from me</button>
                            </div>
                        }
                    }
                    else if (details.Header.Status == "Open")
                    {
                        <div class="col-auto p-0 mr-3">
                            <button class="btn ati-btn-primary mt-3" @onclick="() => AssignTicket(id)">Assign to me</button>
                        </div>
                    }
                }
            </div>
            <hr class="ati-hr-normal" />
            @if (details.Header != null)
            {
                <div class="ati-details-section">
                    <div class="row m-1">
                        <h4 class="ati-dashboard-property text-wrap">@(details.Header.Title) (#@(id))</h4>
                    </div>
                    <table>
                        <tbody>
                            @if (details.Header.User != null)
                            {
                                <tr>
                                    <td class="pr-2"><strong>Owner: </strong></td>
                                    <td>@details.Header.User.UserName</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="pr-2"><strong>Owner: </strong></td>
                                    <td>*Unassigned*</td>
                                </tr>
                            }
                            <tr>
                                <td class="pr-2"><strong>Category: </strong></td>
                                <td>@details.Header.Category.Name</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>Status: </strong></td>
                                <td>@details.Header.Status</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>System: </strong></td>
                                <td>@details.Header.System.Name</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>Opened at:</strong></td>
                                <td>@details.Header.Time.ToString()</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>Reference: </strong></td>
                                <td>@details.Header.Reference</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col">
                        <h1 class="ati-h-blurpl">Ticket log</h1>
                    </div>
                    @if (details.Header.Status == "Open")
                    {
                        <div class="col-auto p-0 mr-3 mb-2">
                            <button class="btn ati-btn-primary mt-3" @onclick="() => ShowAddLogWindow = true">Add log</button>
                        </div>
                    }
                </div>
                <hr class="ati-hr-normal" />

                @if (ShowAddLogWindow)
                {
                    <Popup>
                        <WindowTitle Title="Add log record" CloseAction="() => ShowAddLogWindow = false" />
                        <div style="width: 550px">
                            <EditForm Model="AddLog" OnValidSubmit="AddLogRecord">
                                <div class="ati-login-element">
                                    <input type="text" class="ati-login-input" placeholder="Short description" @bind="@AddLog.Summary" />
                                </div>
                                <div class="ati-login-element">
                                    <textarea class="ati-login-textarea" placeholder="If you want to share more details, write here" @bind="@AddLog.Details" />
                                </div>
                                <div class="ati-login-element">
                                    <button type="submit" class="btn ati-btn-primary">Submit</button>
                                </div>
                            </EditForm>
                        </div>
                    </Popup>
                }
            }
            @if (details.Logs != null)
            {
                @foreach (var item in details.Logs)
                {
                    <div class="ati-details-section">
                        <div class="row ml-1 mr-1">
                            <p class="ati-dashboard-property">Created at: </p>
                            <p>@item.Time.ToString()</p>
                        </div>
                        @if (item.User != null)
                        {
                            <div class="row ml-1 mr-1">
                                <p class="ati-dashboard-property">Created by: </p>
                                <p>@item.User.UserName</p>
                            </div>
                        }
                        else
                        {
                            <div class="row ml-1 mr-1">
                                <p class="ati-dashboard-property">Created by: </p>
                                <p>*bot*</p>
                            </div>
                        }
                        <div class="row ml-1 mr-1">
                            <p class="ati-dashboard-property">Summary: </p>
                            <p>@item.Summary</p>
                        </div>
                        <div class="row ml-1 mr-1">
                            <p class="ati-dashboard-property">Details: </p>
                        </div>
                        <div class="row ml-1 mr-1">
                            <pre class="text-monospace">@((MarkupString)item.Details)</pre>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

