<!------------------------------------------------------------------------------------------------>
<!-- Details.razor                                                                              -->
<!--                                                                                            -->
<!-- This page shows a detail about a selected ticket. Ticket number must be passed via URL. It -->
<!-- has two parts: firs one is the ticket header and second one are the logs entries. On this  -->
<!-- it is possible to take a ticket to the user or close it.                                   -->
<!--                                                                                            -->
<!------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------>
<!-- Page defitions                                                                             -->
<!------------------------------------------------------------------------------------------------>
@page "/dashboard/details/{id:int}"

<!------------------------------------------------------------------------------------------------>
<!-- Content                                                                                    -->
<!------------------------------------------------------------------------------------------------>
<div class="ati-full-window">
    <WindowTitle Title="@PageTitle" CloseAction="CloseWindow" />
    <div class="ati-full-window-content container">
        <div class="row">
            <div class="col">
                <h1 class="ati-h-blurpl">Details of #@id</h1>
            </div>
            <div class="col-auto">
                <button class="btn ati-btn-primary mt-3">Take the ticket</button>
            </div>
            <div class="col-auto">
                <button class="btn ati-btn-secondary mt-3">Close the ticket</button>
            </div>
        </div>
        @if (details != null)
        {
            @if (details.Header != null)
            {
                <div class="ati-details-section">
                    <div class="row m-1">
                        <h4 class="ati-dashboard-property text-wrap">@(details.Header.Title) (#@(id))</h4>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="pr-2"><strong>Owner: </strong></td>
                                <td>@details.Header.User.UserName</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>Category: </strong></td>
                                <td>@details.Header.Category.Name</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>Status: </strong></td>
                                <td>@details.Header.Status</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>System: </strong></td>
                                <td>@details.Header.System.Name</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>Opened at:</strong></td>
                                <td>@details.Header.Time.ToString()</td>
                            </tr>
                            <tr>
                                <td class="pr-2"><strong>Reference: </strong></td>
                                <td>@details.Header.Reference</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
            <h3 class="ati-h-blurpl">Logs</h3>
            @if (details.Logs != null)
            {
                @foreach (var item in details.Logs)
                {
                    <div class="ati-details-section">
                        <div class="row ml-1 mr-1">
                            <p class="ati-dashboard-property">Created at: </p>
                            <p>@item.Time.ToString()</p>
                        </div>
                        @if (item.User != null)
                        {
                            <div class="row ml-1 mr-1">
                                <p class="ati-dashboard-property">Created by: </p>
                                <p>@item.User.UserName</p>
                            </div>
                        }
                        else
                        {
                            <div class="row ml-1 mr-1">
                                <p class="ati-dashboard-property">Created by: </p>
                                <p>*bot*</p>
                            </div>
                        }
                        <div class="row ml-1 mr-1">
                            <p class="ati-dashboard-property">Summary: </p>
                            <p>@item.Summary</p>
                        </div>
                        <div class="row ml-1 mr-1">
                            <p class="ati-dashboard-property">Details: </p>
                        </div>
                        <div class="row ml-1 mr-1">
                            <pre class="text-monospace">@((MarkupString)item.Details)</pre>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

